<div class="container">
  <div class="row">
    <h2>
      Page {{ currentPage + 1 }}
      <div class="spinner-grow text-danger" role="status" *ngIf="incommingData">
        <span class="sr-only">Loading...</span>
      </div>
    </h2>

    <button type="button" class="btn btn-primary" (click)="nextPage()">
      next >>
    </button>
    <button
      *ngIf="currentPage > 0"
      type="button"
      class="btn btn-secondary"
      (click)="previousPage()"
    >
      << previous
    </button>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12" *ngFor="let person of persons">
      <div class="card">
        <img
          class="card-img-top"
          src="{{ person.thumbnail.path + '.' + person.thumbnail.extension }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h3 class="card-text">
            {{ person.name }}
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
